:root { font-family: "Trebuchet MS", Verdana, sans-serif; font-synthesis: none; text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; }
body { margin: 0; }
button, input, select, textarea { font-family: inherit; }
